<footer fxFlex="100%" fxLayout="row" fxLayoutAlign="start end">
  <div class = "footerText" fxFlex="40%" style="margin-left: 15%;">
    <span>The site is still in progress. <a href="https://github.ibm.com/DeveloperDojo/DeveloperDojo/issues/new">Please get in touch</a> if there is anything you would like to see.</span>
    <span>Designed by: <span class="accent">Ashley Brimsted</span>. Coded by: <span class="accent">Michael Stachowicz</span> & <span class="accent">Kacper Turon.</span></span>
  </div>
  <img src="/assets/images/home/Footer-full.png" routerLink="/" style="margin-left: 25%; height: 246px; margin-bottom: -100px;"/>
</footer>
