<div class="homeComponent">
  <div>
    <div class="homeConsole">
      <picture id="console">
        <source srcset="../assets/images/home/console.png">
        <img srcset="../assets/images/home/console.png" style='width:100%;' border="0" alt="Developer Console">
      </picture>
      <pre>> Welcome to the ...</pre>
      <pre>
 `7MM"""Yb.   `7MM"""YMM  `7MMF'   `7MF'`7MM"""YMM  `7MMF'        .g8""8q.   `7MM"""Mq. `7MM"""YMM  `7MM"""Mq.      `7MM"""Yb.     .g8""8q.      `7MMF'  .g8""8q.
   MM    `Yb.   MM    `7    `MA     ,V    MM    `7    MM        .dP'    `YM.   MM   `MM.  MM    `7    MM   `MM.       MM    `Yb. .dP'    `YM.      MM  .dP'    `YM.
   MM     `Mb   MM   d       VM:   ,V     MM   d      MM        dM'      `MM   MM   ,M9   MM   d      MM   ,M9        MM     `Mb dM'      `MM      MM  dM'      `MM
   MM      MM   MMmmMM        MM.  M'     MMmmMM      MM        MM        MM   MMmmdM9    MMmmMM      MMmmdM9         MM      MM MM        MM      MM  MM        MM
   MM     ,MP   MM   Y  ,     `MM A'      MM   Y  ,   MM      , MM.      ,MP   MM         MM   Y  ,   MM  YM.         MM     ,MP MM.      ,MP      MM  MM.      ,MP
   MM    ,dP'   MM     ,M      :MM;       MM     ,M   MM     ,M `Mb.    ,dP'   MM         MM     ,M   MM   `Mb.       MM    ,dP' `Mb.    ,dP' (O)  MM  `Mb.    ,dP'
 .JMMmmmdP'   .JMMmmmmMMM       VF      .JMMmmmmMMM .JMMmmmmMMM   `"bmmd"'   .JMML.     .JMMmmmmMMM .JMML. .JMM.    .JMMmmmdP'     `"bmmd"'    Ymmm9     `"bmmd"'
      </pre>
      <pre>> Coming soon <span>_</span></pre>
    </div>
    <div class="main-content">
      <div class="splashGraphic" fxLayout=row fxLayoutAlign="space-around center" fxLayout.lt-sm=column-reverse>
        <div fxFlex="40%" style="margin: 10px;">
          <h1>Introducing the <br><span>Developer Dojo</span></h1>
          <p>Welcome to the Developer Dojo. The latest transformation to take place here at the Hursley Lab Campus. This new dynamic environment is the new home and the only place to be for developers at Hursley. It’s carefully crafted working areas set
            us up to work the agile way, making developers more innovative and productive than they can be elsewhere on campus. If you’ve not been down to check out the new Dojo, you’d better hurry.</p>
        </div>
        <div fxFlex="60%" style="margin: 10px;">
        </div>
      </div>
      <div class="main-body-background" fxLayout=row-reverse fxLayoutAlign="space-around start" fxLayout.lt-sm=column-reverse>
        <div fxFlex="100%" style="margin: 10px;">
          <picture style="padding: 20px;">
            <source srcset="../../assets/images/home/value-props.png">
            <img srcset="../../assets/images/home/value-props.PNG" style='width:100%;' border="0" alt="Value Props">
          </picture>
        </div>
      </div>
      <div>
        <div class="main-body-background-red-triangle" fxLayout=row fxLayoutAlign="flex-start" fxLayout.lt-sm=column>
          <div style="height: auto; width: 419px; margin-left: -320px; margin-top: 100px; z-index: 0; position:absolute;">
            <picture style="padding: 20px;">
              <source srcset="../../assets/images/home/Red-full.png">
              <img srcset="../../assets/images/home/Red-full.png" style='width:100%; z-index: 0;' border="0" alt="Value Props">
            </picture>
          </div>
        </div>
        <div class="infoGraphic" fxLayout=row-reverse fxLayoutAlign="space-between flex-end" fxLayout.lt-sm=column-reverse>
          <div fxFlex="40%">
            <h3>Dojo Rooms</h3>
            <p>The new Dojo has 6 rooms, not including the larger common area in the middle of it all. Each room has a different set up and serves a different purpose to the Dojo. From a large lecture hall set up for presentations to the smaller pair coding
              or break-out rooms.</p>
          </div>
          <div>
            <img style="max-width: 100%;" src="http://via.placeholder.com/400x300" />
          </div>
        </div>
        <div class="infoGraphic" fxLayout=column fxLayoutAlign="space-between flex-end" fxLayout.lt-sm=column style="margin-bottom: 50px;">
          <div fxLayout=row fxLayoutAlign="space-between flex-start" style="padding-right: 20px; padding-bottom: 10px;">
            <div fxFlex="40%">
              <h2> BASIC - B6 </h2>
              <p>
                A chill-out room with miscellaneous furniture purely existing to give you a respite from your developing woes.
              </p>
            </div>
            <div fxFlex="40%">
              <h2> Python - B3 </h2>
              <p>
                The Python room is a smaller space created for the agile developer. With whiteboarded walls and no seating area, it is perfect for your morning stand-ups to plan your team’s day.
              </p>
            </div>
          </div>
          <div fxLayout=row fxLayoutAlign="space-between flex-start" style="padding-right: 20px; padding-bottom: 10px;">
            <div fxFlex="40%">
              <h2> Scala - B5 </h2>
              <p>
                This lecture set up room seats up to 40 in a formation suitable for presentations, lectures and larger status meetings. It is available for booking events. Please send your request to DeveloperDojo/UK/IBM.
              </p>
            </div>
            <div fxFlex="40%">
              <h2> Erland - B2 </h2>
              <p>
                Erlang has a similar set up to Ruby. In that it is suited for pair coding and breakout meetings. Erlang is available for non-developer use through booking. Please contact DeveloperDojo/UK/IBM to request usage of the space.
              </p>
            </div>
          </div>
          <div fxLayout=row fxLayoutAlign="space-between flex-start" style="padding-right: 20px; padding-bottom: 10px;">
            <div fxFlex="40%">
              <h2> Ruby - B4 </h2>
              <p>
                The MakerSpace. A collection of some of our more advanced pieces of hardware technology gathered in this room. 3D printers, 2D plotters, robots and Raspberry Pi’s galore, not to mention an Oculus Rift headset and various VR pieces of hardware. Listen
                out for when demos of these awesome pieces of tech are available.
              </p>
            </div>
            <div fxFlex="40%">
              <h2> Java - B1 </h2>
              <p>
                An old kitchen with new tricks. Microwave, kettle, fridge and plenty of cupboard space. Everything you could possibly need to fuel your developing day.
              </p>
            </div>
          </div>
          <div class="main-body-background-green-triangle" fxLayout=row fxLayoutAlign="flex-start" fxLayout.lt-sm=column>
            <div>
              <picture style="padding: 20px;">
                <source srcset="../../assets/images/home/Green-full.png">
                <img srcset="../../assets/images/home/Green-full.png" style='width:100%; z-index: 0;' border="0" alt="Green Triangle">
              </picture>
            </div>
          </div>
          <div class="dojo-map" fxLayout=row fxLayoutAlign="space-between flex-end" fxLayout.lt-sm=column-reverse>
            <div fxFlex="40%">
              <h3>Where to find it</h3>
              <p>The Developer Dojo is nestled comfortably in the centre of the Lab Campus. Where once was B Block, there is now the Dojo. Equidistant between the canteen and the Char Bar, it is accessible via the walkway connecting the two. The Dojo is
                signposted by a large A1 canvas pointing in its direction down the stairs. For disabled access, there is a lift.</p>
            </div>
            <div fxFlex="50%">
            <div>
              <img src="../../assets/images/home/Dojo-map.png" />
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
